USERNAME=admin
PASSWORD=pass
STATISTICS_URL="http://192.168.1.254/web_whw/#/status/fastmile5gradio"
OUT_DIR="/home/josh/nokia_logger/data.csv"
MAILJET_API_KEY=PUBLIC_KEY
MAILJET_API_SECRET=SECRET
MAILJET_FROM_EMAIL=test@test.com
MAILJET_TO_EMAIL=you@example.com